 /*Nav setup*/
nav{

   background: #fff;

   .navbar-brand{
      padding:0 15px;
   }

   .nav-item{
      height:70px;
      padding-top:10px;

   }

}

.navbar-header{
  height:70px;
  display:flex;
  align-content: center;
}
