// Heading Area
h1{
   font-size:11rem;
   color:#fff;
   text-shadow:12px 10px 18px #555;
   letter-spacing: 15px;

}

h2{
   font-size:5rem;
   line-height: 7rem;
}

h3{
  font-size:5.5rem;
  color:#6e6e6e;
  text-align: center;
  margin-bottom: 3rem;

}

h4{
  font-size:5rem;
  color:#fff;
  text-shadow:12px 10px 18px #555;
  letter-spacing: 15px;
  margin-top:5%;
}



h5{
  font-size:2rem;
  margin-bottom:2rem;
  text-align: center;
}
